body {
    background-color: #474e5d;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


/* Full-width input fields */

input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color:dodgerblue;
    color: white;
    padding: 20px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Float signup button and give it full width */

.signupbtn {
    float: left;
    width: 100%;
}

.profile {
    float: center;
    width: 70%;
}


/* Add padding to container elements */

.container {
    padding: 10px;
}


/* The Modal (background) */

.modal {

    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /*Enable scroll if needed*/
    background-color: #474e5d;
    padding-top: 30px;
    /*margin: auto;*/
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

p {
    color: #474e5d;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}






/* Navbar container */

.navbar {
    overflow: hidden;
    background-color: #474e5d;
    font-family: Arial;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The dropdown container */

.dropdown {
    float: right;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a puple background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #474e5d;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    width: 50%;
    background-color: #ddd;

    /*width: 100%;  Full width */
    /*height: 100%;*/
    /* Full height */
    overflow: auto;
    /*Enable scroll if needed*/
    margin-top: 30px;
    margin-left: 20px;
    padding: 1px 16px;
    margin: auto;
}

.con {
    width: 40%;
    background-color: #ddd;

    /*width: 100%;  Full width */
    /*height: 100%;*/
    /* Full height */
    overflow: auto;
    /*Enable scroll if needed*/
    margin-top: 10px;
    margin-left: 20px;
    padding: 1px 16px;

    float: left;
}

.cont {
    width: 40%;
    background-color: #ddd;

    /*width: 100%;  Full width */
    /*height: 100%;*/
    /* Full height */
    overflow: auto;
    /*Enable scroll if needed*/
    margin-top: 10px;
    margin-left: 10px;
    padding: 1px 20px;

    float: left;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
    float: left;
    background-color: #ddd;
}

.cardleft {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    background-color: #ddd;
}

.title {
    color: grey;
    font-size: 18px;
}